<section>
        <div class="container">
                        <h3 class="text-center bold">DISCLAIMER</h3>
                        <p class="text-center text-fade">
                               <small>
                                        {{site.url}} is a participant in the Amazon Services LLC Associates Program and Amazon EU Associates Programme, both affiliate advertising programs designed to provide a means for sites to earn advertising fees by advertising and linking to Amazon.com and other Amazon websites.
                                        <br>
                                        Certain content that appears on this site comes from Amazon Services LLC. This content is provided ‘AS IS’ and is subject to change or removal at any time.
                               </small>
                        </p>
        </div>
</section>