section {
    margin-top: 30px;
}

.card {
    border: none;
}

@media (max-width: 1200px) {
    .card-deck {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}